.text_higlight{
        font-weight: bold;
        color:#A00 !important;
}
.btouleau-modal-wrapper{
  display: none;
}
.btouleau-modal-wrapper .btouleau-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 9998;
}
.btouleau-modal-wrapper .btouleau-modal{
  background-color: #EFEFEF;
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  text-align: center;
  z-index: 9999;
  padding: 10px;
}
.btouleau-with-navbar{
  padding-top:  80px;
}
.btouleau-full-height{
  height: 100%;
}
.btouleau-contratar-div{
  margin-top: 40px;
  text-align: center;
}
.btouleau-contratar-div a{
  margin-left: 10px;
  margin-top: 10px;
}
.btouleau-modal-wrapper .btouleau-modal .text_higlight{
  font-size: 1.4em;
  margin-bottom: 10px;
}
.btouleau-modal-wrapper .btouleau-modal .btn{
  margin-top: 10px;
}
.btouleau-hidden{
  display: none;
}
.btouleau-sortable-header{
  cursor: pointer;
}
.btouleau-sortable-header:hover{
  color: #A00;
}
.btouleau-table{
  margin-top: 20px;
}
.btouleau-table th{
  text-align: center;
}
.btouleau-table.table>tbody>tr>td{
  vertical-align: middle;
}
.btouleau-table.table .btouleau-logotipo-td{
  min-width: 180px;
  text-align: right;
}
.btouleau-reponsive-row ul{
  margin: 10px;
  padding: 0;
}
.btouleau-reponsive-row li{
  list-style: none;
}
.btouleau-reponsive-row li label{
  display: block;
  font-weight: bold;
  text-align: center;
}
.btouleau-reponsive-row li a{
  color: blue;
  text-align: center;
  display: block;
  padding: 5px;
}
.btouleau-button-area{
  padding: 10px;
  text-align: center;
}
.btouleau-reduce-size{
  font-size: 0.9em;
}
.btouleau-thumbsnail-list{
  list-style: none;
}
.btouleau-thumbsnail-list li{
  display: inline-block;
}
.btouleau-url-list a{
  color: blue;
  text-decoration: none;
}
.btouleau-thumbsnail-list li img{
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
}