.text_higlight{
        font-weight: bold;
        color:#A00 !important;
}
.btouleau-modal-wrapper{
  display: none;
}
.btouleau-modal-wrapper .btouleau-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 9998;
}
.btouleau-modal-wrapper .btouleau-modal{
  background-color: #EFEFEF;
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  text-align: center;
  z-index: 9999;
  padding: 10px;
}
.btouleau-with-navbar{
  padding-top:  80px;
}
.btouleau-full-height{
  height: 100%;
}
.btouleau-contratar-div{
  margin-top: 40px;
  text-align: center;
}
.btouleau-contratar-div a{
  margin-left: 10px;
  margin-top: 10px;
}
.btouleau-modal-wrapper .btouleau-modal .text_higlight{
  font-size: 1.4em;
  margin-bottom: 10px;
}
.btouleau-modal-wrapper .btouleau-modal .btn{
  margin-top: 10px;
}
.btouleau-hidden{
  display: none;
}
.btouleau-asociados-row-content{
  position: relative;
}
.btouleau-sortable-header{
  cursor: pointer;
}
.btouleau-sortable-header:hover{
  color: #A00;
}